node-red/gpio-basic/flows.json
[
    {
        "id": "77a698253f4e0f3b",
        "type": "tab",
        "label": "Arduino Cloud <-> GPIOs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75cf75b699400a70",
        "type": "arduino-connection",
        "applicationname": "Arduino Cloud"
    },
    {
        "id": "24cfd9cc1c1afa32",
        "type": "debug",
        "z": "77a698253f4e0f3b",
        "name": "DBG: Button",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "c867832c3d1e4d7b",
        "type": "inject",
        "z": "77a698253f4e0f3b",
        "name": "TEST: LED Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "45efe7b0aee2a4a1"
            ]
        ]
    },
    {
        "id": "72088a8b307e6580",
        "type": "inject",
        "z": "77a698253f4e0f3b",
        "name": "TEST: LED On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "45efe7b0aee2a4a1"
            ]
        ]
    },
    {
        "id": "2ed4ef3e5a6259bd",
        "type": "debug",
        "z": "77a698253f4e0f3b",
        "name": "DBG: LED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "1732b73c9a35b80c",
        "type": "inject",
        "z": "77a698253f4e0f3b",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "244b9558c4ea408c"
            ]
        ]
    },
    {
        "id": "65724da039f208af",
        "type": "rbe",
        "z": "77a698253f4e0f3b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "24cfd9cc1c1afa32",
                "d73d5d99772925b2"
            ]
        ]
    },
    {
        "id": "d73d5d99772925b2",
        "type": "property out",
        "z": "77a698253f4e0f3b",
        "connection": "75cf75b699400a70",
        "thing": "74c49bf8-3844-4239-a663-76927d173cb2",
        "property": "93fc3c3f-d936-4d74-ac26-982fb6a2d7c4",
        "name": "button",
        "propname": "button",
        "defaultname": true,
        "sendasdevice": true,
        "device": "09d3a634-e1ad-4927-9da0-dde663f8e5c6",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "244b9558c4ea408c",
        "type": "gpio-in",
        "z": "77a698253f4e0f3b",
        "name": "",
        "state": "INPUT",
        "device": "gpiochip4",
        "pin": "15",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "65724da039f208af"
            ]
        ]
    },
    {
        "id": "45efe7b0aee2a4a1",
        "type": "gpio-out",
        "z": "77a698253f4e0f3b",
        "name": "",
        "state": "OUTPUT",
        "device": "gpiochip4",
        "pin": "14",
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "507fac4bd8e10d79",
        "type": "comment",
        "z": "77a698253f4e0f3b",
        "name": "Link to Arduino Cloud Dashboard",
        "info": "https://app.arduino.cc/dashboards/25b90b8d-aba5-4414-9b4f-0a0f43778749",
        "x": 210,
        "y": 500,
        "wires": []
    },
    {
        "id": "5c21bfb74aed47b3",
        "type": "property out",
        "z": "77a698253f4e0f3b",
        "connection": "75cf75b699400a70",
        "thing": "74c49bf8-3844-4239-a663-76927d173cb2",
        "property": "b345af0c-1c93-4b11-9e1d-4cdeec85176c",
        "name": "test_value",
        "propname": "test_value",
        "defaultname": true,
        "sendasdevice": true,
        "device": "09d3a634-e1ad-4927-9da0-dde663f8e5c6",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "64702fb2038dc742",
        "type": "cpu",
        "z": "77a698253f4e0f3b",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "438e4aebbe61ba5c"
            ]
        ]
    },
    {
        "id": "eb4ff1221ff6a07d",
        "type": "inject",
        "z": "77a698253f4e0f3b",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "64702fb2038dc742"
            ]
        ]
    },
    {
        "id": "fe7856e69f6d61b2",
        "type": "property in poll",
        "z": "77a698253f4e0f3b",
        "connection": "75cf75b699400a70",
        "thing": "74c49bf8-3844-4239-a663-76927d173cb2",
        "property": "49eb3950-5fab-41ed-8baf-95d45ad0357e",
        "name": "led",
        "propname": "led",
        "defaultname": true,
        "timeWindowCount": "5",
        "timeWindowUnit": "1",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "1db3872dd8744c41"
            ]
        ]
    },
    {
        "id": "438e4aebbe61ba5c",
        "type": "change",
        "z": "77a698253f4e0f3b",
        "name": "x 100",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload * 100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "5c21bfb74aed47b3"
            ]
        ]
    },
    {
        "id": "1db3872dd8744c41",
        "type": "rbe",
        "z": "77a698253f4e0f3b",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "2ed4ef3e5a6259bd",
                "45efe7b0aee2a4a1"
            ]
        ]
    },
    {
        "id": "58df54993a68d0e7",
        "type": "comment",
        "z": "77a698253f4e0f3b",
        "name": "Periodic integer value sent to Arduino Cloud",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "7d011f726bbf42ee",
        "type": "comment",
        "z": "77a698253f4e0f3b",
        "name": "Read GPIO and send value to Arduino Cloud",
        "info": "",
        "x": 250,
        "y": 180,
        "wires": []
    },
    {
        "id": "2c56eb0de8394bc8",
        "type": "comment",
        "z": "77a698253f4e0f3b",
        "name": "Read LED status from Arduino Cloud and set GPIO",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    }
]